@model MuzikSitesi.Models.Cd;

@if(ViewBag.Hata!=null){
    <p class="text-danger my-2">@ViewBag.Hata</p>
}

<form asp-action="Edit" asp-controller="Cd" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="mb-3 row">
            <label for="inputName" class="col-4 col-form-label">Ad</label>
            <div class="col-8">         
                <input type="text" class="form-control" name="Ad" id="inputName" placeholder="Ad" value="@Model.Ad" required />
            </div>
        </div>

        <div class="mb-3 row">
            <label for="inputName" class="col-4 col-form-label">Fotoğraf</label>
            <div class="col-8">
                <div class="mb-3">
                    @if(!string.IsNullOrEmpty(Model.Foto))
                    {
                        <img src="~/img/@Model.Foto" class="img-fluid rounded-top" style="width: 350px;" alt="Mevcut Fotoğraf" />
                    }
                    <input type="file" class="form-control" name="Foto" id="inputName" placeholder="Fotoğraf Yükle" aria-describedby="fileHelpId" />
                    <small id="fileHelpId" class="form-text text-muted">Yeni fotoğraf seçmezseniz mevcut fotoğraf korunur.</small>
                </div>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="grupSelect" class="col-4 col-form-label">Grup</label>
            <div class="col-8">
                <select asp-for="GrupId" asp-items="ViewBag.GrupListesi" class="form-control" required>
                    <option value="">--Lütfen Bir Grup Seçin--</option>
                </select>
            </div>
        </div>

        <div class="mb-3 row">
            <label for="stockInput" class="col-4 col-form-label">Stok Miktarı</label>
            <div class="col-8">
                <input type="number" class="form-control" name="Stock" id="stockInput" placeholder="Stok miktarını giriniz" value="@Model.Stock" min="0" required />
            </div>
        </div>

        <input type="hidden" name="Id" value="@Model.Id" />

        <div class="mb-3 row">
            <div class="offset-sm-4 col-sm-8">
                <button type="submit" class="btn btn-primary">
                    Kaydet
                </button>
                <a asp-action="Index" class="btn btn-secondary ml-2">İptal et ve Listeye dön</a>
            </div>
        </div>
    </div>
</form>
