@model MuzikSitesi.Models.Album

<h2> Yeni Album Ekle</h2>

<form asp-action="Ekle" method="post" enctype="multipart/form-data">

    <div class="form-group" style="margin-bottom:15px;">
        <label class="form-label">Album Adı</label>
        <input asp-for="Ad"  class="form-control" placeholder="Albumün Adını Giriniz" required />
    </div>

    <div class="form-group" style="margin-bottom:15px;">
        <label class="form-label">Album Fotoğrafı</label>
        <input type="file" name="Foto" class="form-control" placeholder="Albümün Fotoğrafını Ekleyiniz" required />
    </div>

    <div class="form-group" style="margin-bottom:15px;">
        <label class="form-label">Grup</label>
        <select asp-for="GrupId" asp-items="ViewBag.GrupListesi" class="form-control" required>
            <option value="">--Lütfen Bir Grup Seçin--</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
    <a asp-action="Index" class="btn btn-secondary" style="margin-left:10px;">İptal et ve Listeye dön</a>
</form>