@model MuzikSitesi.Models.Album
<h2 class="text-danger">Kayıt Sil</h2>
<h3>Bu albümü silmek istediğinizden emin misiniz</h3>

<div style="border: 1px solid #ddd; padding:20px; border-radius:8px;" >
    <p><strong>Albüm Adı:</strong>@Model.Ad</p>
    <p><strong>Fotoğrafı</strong><img src="img/@Model.Foto"></p>
    <p><strong>Grup Adı</strong>@Model.Grup</p>
    
    <form asp-action="Sil" method="post">
        <input type="hidden" asp-for="Id">

        <button type="submit" class="btn btn-danger">Evet,Sil</button>
        <a asp-action="Index" class="btn btn-secondary">Vazgeç</a>
    </form>
</div>